<b>Results for {{cityVariable}}, {{stateVariable}} ...</b>
<p></p>
<table>
<tr>
    <th>ZipCode</th>
        <ul>{{zip}}</ul>
    <th>Population</th>
        <ul>{{population}}</ul>
    </tr>


</table>
